sminclude ../title/title
include ../disc/disc
include ../index-post/index-post


mixin index-blog()
	+b.SECTION.index-blog&attributes(attributes)(id="blog")
		.container.text-center
			+title BLOG
			+disc.index-blog__disc Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.

		+e.row-odd
			+index-post.col-md-6.animate-box
				.row
					.col-sm-6.index-post-pd-zero
						.row
							+e.image-wrap.col-sm-12.col-sm-offset-0.col-xs-8.col-xs-offset-2
								+e.IMG.image(src="assets/images/post-1.jpg")
					.col-sm-6
						+e.content
							+e.info
								+e.SPAN.date 14 Aug 2015 /
								+e.SPAN.author By Admin
							h4 Donec id lobortis tellus Maecenas.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				
			+index-post.col-md-6.animate-box
				.row
					.col-sm-6.index-post-pd-zero
						.row
							+e.image-wrap.col-sm-12.col-sm-offset-0.col-xs-8.col-xs-offset-2
								+e.IMG.image(src="assets/images/post-2.jpg")
					.col-sm-6
						+e.content
							+e.info
								+e.SPAN.date 14 Aug 2015 /
								+e.SPAN.author By Admin
							h4 Donec id lobortis tellus Maecenas.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

		+e.row-even
			+index-post.col-md-6.animate-box
				.row
					.col-sm-6.col-sm-push-6.index-post-pd-zero
						.row
							+e.image-wrap.col-sm-12.col-sm-offset-0.col-xs-8.col-xs-offset-2
								+e.IMG.image(src="assets/images/post-3.jpg")
					.col-sm-6.col-sm-pull-6
						+e.content
							+e.info
								+e.SPAN.date 14 Aug 2015 /
								+e.SPAN.author By Admin
							h4 Donec id lobortis tellus Maecenas.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			
			+index-post.col-md-6.animate-box
				.row
					.col-sm-6.col-sm-push-6.index-post-pd-zero
						.row
							+e.image-wrap.col-sm-12.col-sm-offset-0.col-xs-8.col-xs-offset-2
								+e.IMG.image(src="assets/images/post-4.jpg")
					.col-sm-6.col-sm-pull-6
						+e.content
							+e.info
								+e.SPAN.date 14 Aug 2015 /
								+e.SPAN.author By Admin
							h4 Donec id lobortis tellus Maecenas.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

