.index-blog
	clearfix()
	
	.title
		margin-bottom rem(37px)
	
	&__disc
		margin-bottom rem(78px)
		
	&__row-even
		.index-post:nth-of-type(odd)
			background-color #555557
			
	&__row-odd
		.index-post:nth-of-type(even)
			background-color #555557