.contact-form
	display block
	
	&__item
		width 100%
		margin-bottom rem(21px)
		background-color transparent
		border rem(2.07px) solid #464646
		font-size rem(14px)
		font-style italic
		padding-x(rem(25px))
		line-height rem(50px)
		color #fff
		
		&_message
			line-height 1.4
			height rem(97px)
			padding-y(rem(20px))
			resize none
	
	&__btn
		min-width rem(134px)
		line-height rem(39px)
		border none
		background-color #464646
		color #e3e3e3
		font-family font-second
		
		&:hover
			box-shadow 0 0 10px rgba(#000, .75)