.btn
	display inline-block
	min-width rem(134px)
	font-family font-second
	line-height rem(39px)
	text-align center
	vertical-align top
	text-decoration none
	color inherit
	border 1.8px solid
	font-size rem(13px)
	transition all .5s
	
	&:hover
		background-color color-main
		color #fff
		transition all .5s
		
	&_header
		font-size rem(14px)
		min-width rem(153px)
		line-height rem(44px)
