.statistics
	padding-top rem(39px)
	// padding-bottom rem(63px)
	text-align center
	clearfix()
	overflow hidden

	&__item
		position relative
		font-family font-second
		margin-bottom rem(63px)

		&:before
			position absolute
			top 0
			right -16px
			width 1px
			height 100%
			content ''
			background-color #b0b0b0

	&__icon
		margin-bottom 21px
		display inline-block
		vertical-align top

		&_winner
			sprite $winner
		&_checked
			sprite $checked
		&_clients
			sprite $clients
		&_briefcase
			sprite $briefcase

	&__heading
		margin-bottom 28px
		line-height 1.4
		text-transform uppercase

	&__count
		font-size rem(45px)

		+below(450px)
			font-size rem(35px)

	// .col-md-3:last-of-type
	// 	.statistics__item
	// 		&:before
	// 			width 0

.statistics > .statistics__item:nth-of-type(2)
	&:before
		width 0
