mixin statistics()
	+b.statistics&attributes(attributes)
		.col-md-3.col-xs-6
			.statistics__item
				.statistics__icon.statistics__icon_winner
				h4.statistics__heading AWARDS <br>
					| WINNER
				span.statistics__count 54
		.col-md-3.col-xs-6
			.statistics__item
				.statistics__icon.statistics__icon_checked
				h4.statistics__heading JOBS <br>
					| DONE
				span.statistics__count 1054
		.clearfix.hidden-md.hidden-lg
		.col-md-3.col-xs-6
			.statistics__item
				.statistics__icon.statistics__icon_clients
				h4.statistics__heading HAPPY <br>
					| CLIENTS
				span.statistics__count 120
		.col-md-3.col-xs-6
			.statistics__item
				.statistics__icon.statistics__icon_briefcase
				h4.statistics__heading reviews <br>
					| recieved
				span.statistics__count 54
