// Colors Bg
bg-color-main = #e3e3e3
bg-color-second-grey = #ededed
bg-color-second-dark = #3e3d3d

// Colors
color-main = #3e3d3d
color-second = #e4e4e4

// Font Family
font-main = 'Crimson Text', serif
font-second = 'Montserrat', sans-serif

// Font Size
base-font-size = 14px

// Custom Title
title-min-width = rem(185px)