mixin main-nav()
	+b.NAV.main-nav&attributes(attributes)
		+e.LI.item
			+e.A.link(href="#") Home
		+e.LI.item
			+e.A.link(href="#about") About
		+e.LI.item
			+e.A.link(href="#services") SERVICES
		+e.LI.item
			+e.A.link(href="#history") History
		+e.LI.item
			+e.A.link(href="#team") Team
		+e.LI.item
			+e.A.link(href="#portfolio") Portfolio
		+e.LI.item
			+e.A.link(href="#prices") Prices
		+e.LI.item
			+e.A.link(href="#") Blog
		+e.LI.item
			+e.A.link(href="#contact") Contact