.main-nav
	display block

	&__item
		display inline-block
		vertical-align top
		
	&__link
		padding 8px
		display block
		text-decoration none
		text-transform uppercase
		color color-main
		
		&:hover
			text-decoration non
			color rgba(color-main, .7)