.index-team
	image-bg('bg-team.jpg')
	text-align center
	
	.title
		margin-bottom rem(37px)
	
	&__disc
		margin-bottom rem(56px)
		
	&__list
		margin-bottom rem(51px)
		
	.team-card
		margin-bottom rem(20px)
