mixin index-testimonial()
	+b.SECTION.index-testimonial&attributes(attributes).animate-box

		+e.list
			+e.item
				.container
					.row
						+e.avatar-wrap
							+e.IMG.avatar(src="assets/images/team-1.jpg")
					.row
						.col-xs-8.col-xs-offset-2
							+e.BLOCKQUOTE.content
								|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
							+e.name ALEXANDR PODVALNY
							+e.company Free-PSD-Template.com Company
			+e.item
				.container
					.row
						+e.avatar-wrap
							+e.IMG.avatar(src="assets/images/team-2.jpg")
					.row
						.col-xs-8.col-xs-offset-2
							+e.BLOCKQUOTE.content
								|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
							+e.name ALEXANDR PODVALNY
							+e.company Free-PSD-Template.com Company
			+e.item
				.container
					.row
						+e.avatar-wrap
							+e.IMG.avatar(src="assets/images/team-3.jpg")
					.row
						.col-xs-8.col-xs-offset-2
							+e.BLOCKQUOTE.content
								|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
							+e.name ALEXANDR PODVALNY
							+e.company Free-PSD-Template.com Company


