.index-prices
	background-color #e3e3e3
	padding-bottom rem(72px)
	// margin-top -10px
	position relative
	
	&__title
		margin-bottom rem(37px)
	
	&__disc
		margin-bottom rem(80px)

	.price-box
		margin-bottom rem(20px)