.logo
	display inline-block
	font-family font-second
	font-size rem(18px)
	vertical-align top
	text-decoration none
	color inherit
	
	&:hover
		text-decoration none
		color rgba(color-main, .7)
		
	&__image
		margin-right 12px
		display inline-block
		width 41px
		height 29px
		
		img
			width 100%
			height auto
