.index-about
	
	&__inner
		padding-top rem(73px)
		background-color bg-color-main
	
	&__img
		width 100%
		height auto
	
	&__content
		padding-top 20px
		background-color #fff
		clearfix()
	
	&__title
		margin-bottom 41px
		
	&__disc
		margin-bottom 45px
		
	&__btn
		margin-bottom 50px

