mixin index-clients()
	+b.SECTION.index-clients&attributes(attributes)(id="clients")
		.container.text-center
			+title.__title CLIENTS
			+disc.__disc Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
			.col-md-10.col-md-offset-1
				+e.UL.list
					+e.item_brando-ebsen.animate-box Brando ebsen
					+e.item_workwear.animate-box workwear
					+e.item_hamburger.animate-box hamburger
					+e.item_motorcircles-shop.animate-box motorcircles-shop
					+e.item_casandra.animate-box casandra

