.index-clients
	padding-bottom rem(117px)
	
	&__title
		margin-bottom rem(37px)

	&__disc
		margin-bottom rem(74px)
		
	&__list
		justify()
		
		+below(sm)
			text-align center

	&__item
		display inline-block
		vertical-align middle
		
		&_brando-ebsen
			sprite $brando
		&_workwear
			sprite $workwear
		&_hamburger
			sprite $hamburger
		&_motorcircles-shop
			sprite $motocircle
		&_casandra
			sprite $casandra
