.main-header
	padding-top 16px
	display block
	
	&__navigation
		padding-top 18px
		padding-bottom 7px
		clearfix()
		
		.social
			&__item
				line-height 40px
		.main-nav__item
			line-height 26px
		
