.index-services
	text-align center
	image-bg('bg-services.jpg')
	padding-bottom rem(50px)
	
	.title
		margin-bottom rem(41px)
		
	&__disc
		color #cfcfcf
		line-height 1.8
		margin-bottom rem(68px)
		
	&__boxes
		color #d8d8d8
		
	&__box
		border 1px solid
		border-top-color transparent
		position relative
		padding-top rem(58px)
		padding-bottom rem(44px)
		padding-x(12%)
		margin-bottom rem(35px)
		
		&:before
		&:after
			content ''
			width 38.5%
			position absolute
			top 0
			border-top 1px solid
		&:before
			left 0
		&:after
			right 0
		
	&__icon
		position absolute
		width 62px
		height 25px
		top -9px
		left 50%
		margin-left -31px
		
	&__heading
		font-family font-second
		font-size rem(13px)
		line-height 1.4
		margin-bottom rem(29px)
		
	&__text
		line-height 1.4
		


