mixin promo()
	+b.SECTION.promo&attributes(attributes)
		.container
			.promo__inner
				.row
					.col-md-8
						h4.promo__title Looking for a quality and affordable for your next project ?
						p.promo__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
					.col-md-4.text-center
						+btn Purchase
