.promo
	background-color #2d2d2f
	color #fff
	
	&__inner
		padding-top rem(55px)
		padding-bottom rem(51px)
		padding-left 165px
		background-image url(../images/bg-promo.png)
		background-position 28px 50%
		background-repeat no-repeat
		
	&__title
		color #d8d8d8
		font-size rem(16px)
		font-family font-second
		margin-bottom rem(19px)
		
	&__text
		color #888
		font-size 16px
		font-style italic
		line-height 1.25
	
	.btn
		margin-top rem(20px)